---
layout: main  
title: Home
exclude_from_nav: true
---

{% capture notes %} <a href = "{{ site.baseurl }}/notes/">notes</a> {% endcapture %}
{% capture tutoring %} <a href = "{{ site.baseurl }}/tutoring/">Tutoring hours</a> {% endcapture %}
{% capture assignments %} <a href = "{{ site.baseurl }}/assignments/">hw</a> {% endcapture %}

<p><b>05/01/2018</b>: {% include hwRef.html hwLabel = "Chapter 7" %} zyBook homework due Friday, 5/4</p> 
<p><b>03/27/2018</b>: {% include examRef.html examLabel = "Exam II" %} will be Monday, April 2nd.</p> 
<p><b>03/10/2018</b>: Have a great Spring Break! For those wanting to get a head start on the next assignment, the {% include hwRef.html hwLabel = "Chapter 5 zyBook HW" %} will be due the Friday after Spring break. </p>
<p><b>02/28/2018</b>: {% include hwRef.html hwLabel = "Prime number assignments" %} due Wednesday, 3/7/18 </p>
<p><b>02/28/2018</b>: Poll Everywhere questions posted in {{ notes }} </p>
<p><b>02/22/2018</b>: {% include hwRef.html hwLabel = "Chapter 4 zyBook HW" %} will be due Friday, 3/02/2018.</p>
<p><b>02/05/2018</b>: {% include hwRef.html hwLabel = "Chapter 3 zyBook HW" %} will be due Friday, 2/09/2018.</p>
<p><b>01/29/2018</b>: {% include hwRef.html hwLabel = "Chapter 2 zyBook HW" %} will be due Friday, 2/02/2018.</p>
<p><b>01/19/2018</b>: {% include hwRef.html hwLabel = "Chapter 1 zyBook HW" %} will be due Friday, 1/26/2018.</p>
<p><b>01/10/2018</b>: Welcome to <b style = "color:red"> Computer Science and Programming I </b> for the Spring 2018 Semester! This page will be used to provide course material for CSC-210.  Please see the links above for more information. </p>
